**/*.jpg
**/*.jpeg
**/*.png
**/*.JPG
landscape-classification/.ipynb_checkpoints/01-type_of_landscapes-v1-checkpoint.ipynb
landscape-classification/.ipynb_checkpoints/02-app-v1-checkpoint.ipynb
landscape-classification/images_download/mountains/00000173.jpg?itok=Dxm942FR
